* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(20, 82, 237);
}

.jumbotron {
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

#time {
  background-color: whitesmoke;
  width: 10%;
}

#time div {
  border-top: 1px dotted black;
  padding: 10px;
  height: 100px;
  padding-top: 40px;
  padding-left: 30px;
}

#timetable {
  background-color: #d3d3d3;
  width: 75%;
}

#timetable div {
  border: 1px solid white;
  height: 100px;
  border-left: 1px solid black;
}

textarea {
  background-color: #d3d3d3;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  border-bottom: 2px solid white;
  padding: 10px;
  height: 100px;
  width: 100%;
}

#save {
  width: 10%;
}

#save div {
  border: 1px solid white;
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid black;
  background-color: #06aed5;
}

#save div:hover{
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.container {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}